pipeline/PIP_EXL_TO_SQLSERVER.json
{
	"name": "PIP_EXL_TO_SQLSERVER",
	"properties": {
		"activities": [
			{
				"name": "GM_BLOB_TO_SQLSERVER",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SRC_LATESTDATE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GM_BLOB_TO_SQLSERVER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Checking",
					"value": {
						"value": "@activity('GM_BLOB_TO_SQLSERVER').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Checking": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PIP EXCEL TO SQLSERVER"
		},
		"annotations": []
	}
}